#appdirs==1.4.4
#asttokens==2.4.1
#attrs==23.1.0
#Babel==2.14.0
#backcall==0.2.0
#beautifulsoup4==4.12.3
#black==24.4.2
#bleach==6.1.0
breathe==4.35.0
#Brlapi==0.8.2
#cffconvert==2.0.0
#chardet==4.0.0
#click==8.1.7
#cockpit @ file:///builddir/build/BUILD/cockpit-311.2/tmp/wheel/cockpit-311.2-py3-none-any.whl
#colorama==0.4.6
#colorlog==6.8.2
#comm==0.2.2
#cupshelpers==1.0
#dasbus==1.4
#DateTime==5.5
#dbus-python==1.2.18
#debugpy==1.8.1
#decorator==5.1.1
#defusedxml==0.7.1
#distro==1.5.0
#docopt==0.6.2
docutils==0.20.1
#exceptiongroup==1.2.0
#executing==2.0.1
#fastjsonschema==2.19.1
#file-magic==0.4.0
#gcovr==7.2
#gpg==1.15.1
#greenlet==3.0.3
#idna==2.10
#imagesize==1.4.1
#importlib_metadata==7.1.0
#iniconfig==2.0.0
#ipykernel==6.29.3
#ipython==8.12.3
#jedi==0.19.1
#jsonschema==3.2.0
#jupyter-cache==1.0.0
#jupyter_client==8.6.1
#jupyter_core==5.7.2
#jupyterlab_pygments==0.3.0
#libcomps==0.1.18
#livereload==2.6.3
#lxml==4.6.5
#Markdown==3.6
#markdown-it-py==3.0.0
#MarkupSafe==2.1.5
#matplotlib-inline==0.1.6
#mdit-py-plugins==0.4.0
#mdurl==0.1.2
#mistune==3.0.2
#mypy-extensions==1.0.0
#myst-nb==1.0.0
#myst-parser==2.0.0
#nbclient==0.10.0
#nbconvert==7.16.4
#nbformat==5.10.3
#nest-asyncio==1.6.0
#nftables==0.1
#numpy==1.20.1
#packaging==24.0
#pandoc-eqnos==2.5.0
#pandoc-fignos==2.4.0
#pandoc-secnos==2.2.2
#pandoc-tablenos==2.3.0
#pandoc-xnos==2.5.0
#pandocfilters==1.5.1
#parso==0.8.3
pathspec==0.12.1
#perf==0.1
#pexpect==4.8.0
#pickleshare==0.7.5
#pipreqs==0.5.0
#platformdirs==4.2.0
#pluggy==1.4.0
#prompt-toolkit==3.0.43
#psutil==5.8.0
#ptyprocess==0.6.0
#pure-eval==0.2.2
#pycairo==1.20.1
#pycups==2.0.1
#pycurl==7.43.0.6
#pyenchant==3.2.0
Pygments==2.16.1
PyGObject==3.40.1
#pykwalify==1.8.0
#pyrsistent==0.20.0
#PySocks==1.7.1
#pytest==8.1.1
#pytest-cov==4.1.0
python-dateutil==2.9.0.post0
#python-frontmatter==1.1.0
#python-linux-procfs==0.7.3
#pytz==2024.1
#pyudev==0.22.0
#pyxdg==0.27
#PyYAML==5.4.1
#pyzmq==25.1.2
#requests==2.25.1
#rpm==4.16.1.3
#ruamel.yaml==0.18.5
#ruamel.yaml.clib==0.2.8
#scour==0.38.1
#selinux==3.6
#sepolicy==3.6
#setools==4.4.4
#setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.32/src
#six==1.15.0
#snowballstemmer==2.2.0
#sos==4.7.1
#soupsieve==2.5
Sphinx==7.2.6
sphinx-autobuild==2024.2.4
sphinx-copybutton==0.5.2
sphinx-minipres==0.2.1
sphinx-rtd-dark-mode==1.3.0
sphinx-rtd-theme==2.0.0
sphinx-rtd-theme-ext-color-contrast==0.3.1
sphinx-tabs==3.4.5
sphinx-togglebutton==0.3.2
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
#SQLAlchemy==2.0.28
#stack-data==0.6.3
#systemd-python==234
#tabulate==0.9.0
#tinycss2==1.3.0
#tomli==2.0.1
#tornado==6.4
#traitlets==5.14.2
#typing_extensions==4.10.0
#urllib3==1.26.5
#wcwidth==0.2.13
#webencodings==0.5.1
#yarg==0.1.9
#zipp==3.18.1
#zope.interface==6.4.post2
